* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(72, 72, 64);
}

.container {
    font-size: 100px;
    background-color: black;
    color: lime;
    border-radius: 5px;
    border: 2px solid rgba(0, 255, 0, 0.514);
    width: 520px;
    text-align: center;
    box-shadow: 0 10px 23px rgba(0, 84, 0, 0.674);
    font-family: "Tektur";
}